h2   {margin-top: 32; margin-bottom:8;}
h3   {margin-top:16;margin-bottom: 0; }
p    {margin-top:4; margin-bottom:8; }
body {margin-left:64; margin-right:32;}
code {font-size: 90%; }
ul,
ol   {margin-top :8; margin-bottom: 16; }
li   {margin-bottom: 2; margin-top: 0; }
pre,
blockquote {margin-left:16; }
